<section id="latest-blog" class="clear">
  <article class="one_third">
    <h2>Title</h2>
    <img src="" alt="">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil esse eius, culpa eligendi eveniet excepturi earum accusantium laboriosam harum officiis.
      <footer class="more"><a href="#">Read More</a></footer>
    </p>
  </article>
  <article class="one_third">
    <h2>Title</h2>
    <img src="" alt="">
    <p>
      In non atque voluptates eveniet, nisi omnis veniam saepe eum perferendis quia tempora itaque impedit, ratione deleniti nostrum ipsam suscipit.
      <footer class="more"><a href="#">Read More</a></footer>
    </p>
  </article>
  <article class="one_third">
    <h2>Title</h2>
    <img src="" alt="">
    <p>
      Sint qui dolore esse reprehenderit rem asperiores ab quidem, magni voluptatibus quasi adipisci. Odit explicabo praesentium id vitae molestias earum.
      <footer class="more"><a href="#">Read More</a></footer>
    </p>
  </article>
</section>