<section id="latest-project" class="last clear">
  <article class="one_quarter">
    <figure>
      <img src="" alt="">
      <figcaption>
        <h2>Title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore nostrum amet quisquam corrupti nisi?
          <footer class="more"><a href="#">Read More</a></footer>
        </p>
      </figcaption>
    </figure>
  </article>
  <article class="one_quarter">
    <figure>
      <img src="" alt="">
      <figcaption>
        <h2>Title</h2>
        <p>
          Eum mollitia dolore enim nemo veritatis expedita delectus similique, dolorem, itaque eligendi fugit quod veniam.
          <footer class="more"><a href="#">Read More</a></footer>
        </p>
      </figcaption>
    </figure>
  </article>
  <article class="one_quarter">
    <figure>
      <img src="" alt="">
      <figcaption>
        <h2>Title</h2>
        <p>
          Necessitatibus cumque magni soluta perspiciatis. Fugiat eveniet nemo accusamus a dignissimos asperiores, deserunt ex perspiciatis.
          <footer class="more"><a href="#">Read More</a></footer>
        </p>
      </figcaption>
    </figure>
  </article>
  <article class="one_quarter">
    <figure>
      <img src="" alt="">
      <figcaption>
        <h2>Title</h2>
        <p>
          Repudiandae maiores tempore illum nesciunt dolor esse soluta dolore obcaecati, possimus ipsa quia, culpa quod.
          <footer class="more"><a href="#">Read More</a></footer>
        </p>
      </figcaption>
    </figure>
  </article>
</section>